table {
  border: 2px solid rgb(99, 99, 212);
  border-collapse: collapse;
  font-family: sans-serif;
  min-width: 160px;
}
th {
  height: 40px;
  min-width: 40px;
}
.col-index {
  font-size: 8px;
}

.pristine {
  color: green;
}
